.app {
  background: #1d2b64; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    #1d2b64,
    #f8cdda
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    #1d2b64,
    #f8cdda
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 30px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  max-width: 40%;
}

.todo-list__title {
  padding: 8px;
  margin: 0 0 16px 0;
}

.todo-list__item {
  background: #fafafa;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 24px 16px;
  font-size: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  box-sizing: border-box;
  background: #c9c9c9;
  font-size: 16px;
  outline: none;
  border: 0;
  border-radius: 25px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  margin: 0 0 16px 0;
}

.btn {
  position: relative;
  margin: 8px;
  height: 40px;
  width: 40px;
  outline: 0;
  background: #fff;
  border: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s;
}

.btn--round {
  border-radius: 50%;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 30px -2px rgba(0, 0, 0, 0.25);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
